In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

elig_df = elig_df.astype({"Child_ID": 'float'})

###idea

In [2]:
eco = pd.read_excel("../data/TEIS-NSS Project Data 10-2022.xlsx",sheet_name=('ECO with Exit21-22'))
elig = pd.read_excel("../data/TEIS-NSS Project Data 10-2022.xlsx",sheet_name=('Elig Timeline Rpt 2018-2022'))

In [3]:
eco.head()

,DISTRICT,CHILD_ID,ECO_Entry_DATE,Ent SOCIAL_SCALE,Ent KNOWLEDGE_SCALE,Ent APPROPRIATE_ACTION_SCALE,ECO_Exit_DATE,Exit SOCIAL_SCALE,Exit KNOWLEDGE_SCALE,Exit APPROPRIATE_ACTION_SCALE,...,OC2 Data Check,OC3 - a,OC3 - b,OC3 - c,OC3 - d,OC3 - e,OC3 Data Check,Days btw Initial and Exit,Days btw I-IFSP to Exit ECO,Days btw I-IFSP to entry ECO
0,ET,500335.0,2021-04-23,5.0,3.0,4.0,2021-10-23,6.0,3.0,4.0,...,1.0,NaN,1.0,NaN,NaN,NaN,1.0,206.0,183.0,0.0
1,ET,479453.0,2020-03-23,7.0,7.0,7.0,2021-08-19,7.0,7.0,7.0,...,1.0,NaN,NaN,NaN,NaN,1.0,1.0,704.0,514.0,0.0
2,ET,510663.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,115.0,-44483.0,-44483.0
3,ET,452482.0,2019-01-31,2.0,3.0,3.0,2021-11-22,5.0,3.0,5.0,...,1.0,NaN,NaN,1.0,NaN,NaN,1.0,1053.0,1026.0,0.0
4,ET,506507.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,159.0,-44434.0,-44434.0

In [4]:
elig.head()

,District,Child ID,Child Status,Child Phase,Init. IFSP Due Date,IFSP Due Date,IFSP Late Reason,Active Ref. Date,Parent Consent/Intake Date,Date Dev. Evaluator Rec'd. Ref.,...,# Days Parent Consent to Dev. Eval.,# Days Dev. Evaluator Assigned to Dev. Eval.,1st Date Requested to Receipt of Med. Records,# Days Dev. Eval. to Elig. Det.,# Days Ref. to Elig. Det.,Init. Elig. Decision,Init. Elig. Category,Init. Elig. Det. Date,Exit Date,Exit Reason
0,ET,453926,Inactive,IFSP,2019-03-04,2019-03-27,System,2019-01-18,2019-02-04,2019-01-22 00:00:00,...,17.0,30.0,NaN,4.0,38.0,Eligible,Developmental Evaluation,2019-02-25,2020-01-11,618 - Part B eligible
1,ET,431729,Inactive,IFSP,2018-10-26,2018-10-26,NaN,2018-09-11,2018-09-25,2018-09-12 00:00:00,...,0.0,13.0,NaN,6.0,20.0,Eligible,"Diagnosed Condition, Developmental Evaluation",2018-10-01,2020-12-11,618 - Part B eligibility not determined
2,ET,462474,Inactive,IFSP,2019-06-28,2019-06-14,NaN,2019-05-14,2019-05-30,2019-05-15 00:00:00,...,0.0,15.0,0.0,1.0,17.0,Eligible,Developmental Evaluation,2019-05-31,2020-11-12,618 - Part B eligibility not determined
3,ET,446841,Inactive,Eligibility,2018-11-23,NaT,NaN,2018-10-09,2018-10-25,2018-10-11 00:00:00,...,0.0,14.0,NaN,1.0,17.0,Eligible,Diagnosed Condition,2018-10-26,2020-08-12,Parent decline
4,ET,459629,Inactive,IFSP,2019-05-16,2019-04-24,NaN,2019-04-01,2019-04-10,2019-04-02 00:00:00,...,0.0,8.0,0.0,2.0,11.0,Eligible,Developmental Evaluation,2019-04-12,2019-09-26,618 - Parent withdraw

In [5]:
eco.shape

(8636, 60)

In [6]:
elig.shape

(67610, 38)

In [7]:
eco.dtypes

DISTRICT                                        object
CHILD_ID                                       float64
ECO_Entry_DATE                          datetime64[ns]
Ent SOCIAL_SCALE                               float64
Ent KNOWLEDGE_SCALE                            float64
Ent APPROPRIATE_ACTION_SCALE                   float64
ECO_Exit_DATE                           datetime64[ns]
Exit SOCIAL_SCALE                              float64
Exit KNOWLEDGE_SCALE                           float64
Exit APPROPRIATE_ACTION_SCALE                  float64
ExitIS_SOCIAL_PROGRESS                          object
ExitIS_KNOWLEDGE_PROGRESS                       object
ExitIS_APPROPRIATE_ACTION_PROGRESS              object
Initial IFSP Date                       datetime64[ns]
Exit Reason                                     object
Exit Date                               datetime64[ns]
<Lookup> Expected Rating                        object
<Calc> Months in Program                       float64
<Calc> Entrance Age (months)                   float64
<Calc> Day count                               float64
<Calc> Month count                             float64
<Calc> Missing Entrance Date                   float64
<Calc> Missing Exit Dates                      float64
<Calc> Missing Both Ent & Exit Dates           float64
<Calc> Record Count                            float64
<Calc> Day count 182 days +                    float64
<Calc> Exit Day cnt < 182 days                 float64
OC1 Missing Exit Rating                        float64
OC2 Missing Exit Rating                        float64
OC3 Missing Exit Rating                        float64
OC1 Not Expected                               float64
OC2 Not Expected                               float64
OC3 Not Expected                               float64
<Calc> Day count less than 182                 float64
OC1 Useable Data                               float64
OC2 Useable Data                               float64
OC3 Useable Data                               float64
Usable Data on at least one Outcome            float64
Usable Data on All 3 Outcomes                  float64
OC1 - a                                        float64
OC1 - b                                        float64
OC1 - c                                        float64
OC1 - d                                        float64
OC1 - e                                        float64
OC1 Data Check                                 float64
OC2 - a                                        float64
OC2 - b                                        float64
OC2 - c                                        float64
OC2 - d                                        float64
OC2 - e                                        float64
OC2 Data Check                                 float64
OC3 - a                                        float64
OC3 - b                                        float64
OC3 - c                                        float64
OC3 - d                                        float64
OC3 - e                                        float64
OC3 Data Check                                 float64
Days btw Initial and Exit                      float64
Days btw I-IFSP to Exit ECO                    float64
Days btw I-IFSP to entry ECO                   float64
dtype: object

In [8]:
elig.dtypes

District                                                    object
Child ID                                                     int64
Child Status                                                object
Child Phase                                                 object
Init. IFSP Due Date                                 datetime64[ns]
IFSP Due Date                                       datetime64[ns]
IFSP Late Reason                                            object
Active Ref. Date                                    datetime64[ns]
Parent Consent/Intake Date                          datetime64[ns]
Date Dev. Evaluator Rec'd. Ref.                             object
Date Assigned to Dev. Evaluator                             object
Dates Dev. Evaluator Attempted to Contact Family            object
Date Dev. Evaluator Actually Contacted Family               object
Dates Med. Records Requested                                object
Date Med. Records Rec'd                                     object
Date Med. Records Entered                                   object
TEIS Vision Screening Form?                                 object
TEIS Hearing Screening Form?                                object
Date Initial Dev. Eval. Completed                           object
Motor DQ                                                   float64
Cognitive DQ                                               float64
Communication  DQ                                          float64
Self Help DQ                                               float64
Social/Emotional DQ DQ                                     float64
# Days Ref. to Init. Contact                               float64
# Days Ref. to Actual Contact                              float64
# Days Ref. to Dev. Evaluator Ref. Rec'd                   float64
# Days Ref. to Completion of Dev. Eval.                    float64
# Days Parent Consent to Dev. Eval.                        float64
# Days Dev. Evaluator Assigned to Dev. Eval.               float64
1st Date Requested to Receipt of Med. Records              float64
# Days Dev. Eval. to Elig. Det.                            float64
# Days Ref. to Elig. Det.                                  float64
Init. Elig. Decision                                        object
Init. Elig. Category                                        object
Init. Elig. Det. Date                               datetime64[ns]
Exit Date                                           datetime64[ns]
Exit Reason                                                 object
dtype: object

In [9]:
eco.tail()

,DISTRICT,CHILD_ID,ECO_Entry_DATE,Ent SOCIAL_SCALE,Ent KNOWLEDGE_SCALE,Ent APPROPRIATE_ACTION_SCALE,ECO_Exit_DATE,Exit SOCIAL_SCALE,Exit KNOWLEDGE_SCALE,Exit APPROPRIATE_ACTION_SCALE,...,OC2 Data Check,OC3 - a,OC3 - b,OC3 - c,OC3 - d,OC3 - e,OC3 Data Check,Days btw Initial and Exit,Days btw I-IFSP to Exit ECO,Days btw I-IFSP to entry ECO
8631,UC,514216.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,65.0,-44537.0,-44537.0
8632,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8633,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8634,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8635,9/29/22 JM Corrected in TEIDS. Progress would ...,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
elig.tail()

,District,Child ID,Child Status,Child Phase,Init. IFSP Due Date,IFSP Due Date,IFSP Late Reason,Active Ref. Date,Parent Consent/Intake Date,Date Dev. Evaluator Rec'd. Ref.,...,# Days Parent Consent to Dev. Eval.,# Days Dev. Evaluator Assigned to Dev. Eval.,1st Date Requested to Receipt of Med. Records,# Days Dev. Eval. to Elig. Det.,# Days Ref. to Elig. Det.,Init. Elig. Decision,Init. Elig. Category,Init. Elig. Det. Date,Exit Date,Exit Reason
67605,UC,509553,Inactive,IFSP,2021-10-03,2021-10-22,System,2021-08-19,2021-08-26,2021-08-23 00:00:00,...,0.0,3.0,35.0,47.0,54.0,Eligible,"Diagnosed Condition, Developmental Evaluation",2021-10-12,2021-12-10,618 - Moved out of state
67606,UC,509684,Inactive,IFSP,2021-10-07,2021-09-07,NaN,2021-08-23,2021-08-31,2021-08-24 00:00:00,...,0.0,7.0,0.0,2.0,10.0,Eligible,Developmental Evaluation,2021-09-02,2022-03-07,618 - Parent withdraw
67607,UC,526338,Inactive,IFSP,2022-05-22,2022-05-05,NaN,2022-04-07,2022-04-10,2022-04-08 00:00:00,...,1.0,3.0,0.0,2.0,6.0,Eligible,Developmental Evaluation,2022-04-13,2022-07-25,618 - Parent withdraw
67608,UC,511641,Inactive,Eligibility,2021-11-22,NaT,NaN,2021-10-08,2021-10-18,2021-10-11 00:00:00,...,0.0,7.0,NaN,11.0,21.0,Eligible,Diagnosed Condition,2021-10-29,2022-06-22,Parent decline
67609,UC,519977,Inactive,IFSP,2022-03-07,2022-02-03,NaN,2022-01-21,2022-01-26,2022-01-24 00:00:00,...,0.0,2.0,0.0,5.0,10.0,Eligible,Developmental Evaluation,2022-01-31,2022-06-20,618 - Part B eligible

In [11]:
ieg = elig['Init. Elig. Category']

In [12]:
ieg.unique()

array(['Developmental Evaluation',
       'Diagnosed Condition, Developmental Evaluation',
       'Diagnosed Condition', nan], dtype=object)

In [14]:
elig = elig.astype({"Child ID": 'float'})

In [15]:
elig = elig.rename(columns={'District': 'district', 'Child ID': 'child_id'})

In [16]:
eco = eco.rename(columns={'DISTRICT': 'district', 'CHILD_ID': 'child_id'})

In [17]:
merged_df = pd.merge(eco, elig, how="outer", on=["district", "child_id"])

In [18]:
merged_df.head(10)

,district,child_id,ECO_Entry_DATE,Ent SOCIAL_SCALE,Ent KNOWLEDGE_SCALE,Ent APPROPRIATE_ACTION_SCALE,ECO_Exit_DATE,Exit SOCIAL_SCALE,Exit KNOWLEDGE_SCALE,Exit APPROPRIATE_ACTION_SCALE,...,# Days Parent Consent to Dev. Eval.,# Days Dev. Evaluator Assigned to Dev. Eval.,1st Date Requested to Receipt of Med. Records,# Days Dev. Eval. to Elig. Det.,# Days Ref. to Elig. Det.,Init. Elig. Decision,Init. Elig. Category,Init. Elig. Det. Date,Exit Date_y,Exit Reason_y
0,ET,500335.0,2021-04-23,5.0,3.0,4.0,2021-10-23,6.0,3.0,4.0,...,7.0,7.0,NaN,9.0,20.0,Eligible,Developmental Evaluation,2021-04-14,2021-11-15,618 - Part B eligible
1,ET,479453.0,2020-03-23,7.0,7.0,7.0,2021-08-19,7.0,7.0,7.0,...,-1.0,7.0,0.0,8.0,15.0,Eligible,Developmental Evaluation,2020-03-20,2022-02-25,618 - Completion of IFSP/ no longer requires s...
2,ET,510663.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,0.0,7.0,9.0,10.0,22.0,Eligible,Developmental Evaluation,2021-10-01,2022-02-06,618 - Part B eligible
3,ET,452482.0,2019-01-31,2.0,3.0,3.0,2021-11-22,5.0,3.0,5.0,...,0.0,NaN,NaN,1.0,14.0,Eligible,Developmental Evaluation,2019-01-16,2021-12-19,618 - Part B eligible
4,ET,506507.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,10.0,31.0,0.0,2.0,34.0,Eligible,Developmental Evaluation,2021-08-04,2022-02-01,618 - Parent withdraw
5,ET,494216.0,2021-01-06,2.0,4.0,6.0,2021-06-30,4.0,5.0,7.0,...,1.0,8.0,0.0,0.0,9.0,Eligible,Developmental Evaluation,2020-12-17,2021-10-21,618 - Parent withdraw
6,ET,449725.0,2020-08-06,4.0,5.0,7.0,2021-04-21,7.0,7.0,7.0,...,38.0,51.0,NaN,2.0,55.0,Eligible,Developmental Evaluation,2020-05-06,2021-07-26,618 - Parent withdraw
7,ET,494502.0,2021-03-01,6.0,4.0,5.0,2021-10-15,7.0,5.0,6.0,...,2.0,3.0,1.0,6.0,9.0,Eligible,Developmental Evaluation,2021-02-11,2021-12-03,618 - Part B eligible
8,ET,488351.0,2020-09-15,5.0,5.0,7.0,2021-02-25,6.0,5.0,7.0,...,4.0,5.0,5.0,1.0,7.0,Eligible,Developmental Evaluation,2020-09-02,2021-08-24,618 - Part B eligibility not determined
9,ET,489949.0,2020-10-20,2.0,1.0,2.0,2021-09-30,1.0,4.0,5.0,...,5.0,7.0,6.0,1.0,9.0,Eligible,"Diagnosed Condition, Developmental Evaluation",2020-10-01,2022-04-06,618 - Parent withdraw

In [19]:
merged_df = merged_df.filter(['district', 'child_id', '<Calc> Months in Program', 'Ent SOCIAL_SCALE', 'Ent KNOWLEDGE_SCALE', 'Ent APPROPRIATE_ACTION_SCALE', 'Exit SOCIAL_SCALE', 'Exit KNOWLEDGE_SCALE', 'Exit APPROPRIATE_ACTION_SCALE'])

In [20]:
merged_df

,district,child_id,<Calc> Months in Program,Ent SOCIAL_SCALE,Ent KNOWLEDGE_SCALE,Ent APPROPRIATE_ACTION_SCALE,Exit SOCIAL_SCALE,Exit KNOWLEDGE_SCALE,Exit APPROPRIATE_ACTION_SCALE
0,ET,500335.0,7.0,5.0,3.0,4.0,6.0,3.0,4.0
1,ET,479453.0,23.0,7.0,7.0,7.0,7.0,7.0,7.0
2,ET,510663.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN
3,ET,452482.0,35.0,2.0,3.0,3.0,5.0,3.0,5.0
4,ET,506507.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
67618,UC,514221.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67619,UC,525915.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67620,UC,516841.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67621,UC,526338.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67622,UC,511641.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
merged_df.columns = ['district', 'child_id', 'month_count', 'ent_social', 'ent_knowledge', 'ent_app_action', 'exit_social', 'exit_knowledge', 'exit_app_action']

In [22]:
merged_df

,district,child_id,month_count,ent_social,ent_knowledge,ent_app_action,exit_social,exit_knowledge,exit_app_action
0,ET,500335.0,7.0,5.0,3.0,4.0,6.0,3.0,4.0
1,ET,479453.0,23.0,7.0,7.0,7.0,7.0,7.0,7.0
2,ET,510663.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN
3,ET,452482.0,35.0,2.0,3.0,3.0,5.0,3.0,5.0
4,ET,506507.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
67618,UC,514221.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67619,UC,525915.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67620,UC,516841.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67621,UC,526338.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67622,UC,511641.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN