In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
eco_df = pd.read_excel('../data/TEIS-NSS Project Data 10-2022.xlsx',sheet_name =('ECO with Exit21-22'))
elig_df = pd.read_excel('../data/TEIS-NSS Project Data 10-2022.xlsx',sheet_name =('Elig Timeline Rpt 2018-2022'))

In [3]:
eco_df.head()

,DISTRICT,CHILD_ID,ECO_Entry_DATE,Ent SOCIAL_SCALE,Ent KNOWLEDGE_SCALE,Ent APPROPRIATE_ACTION_SCALE,ECO_Exit_DATE,Exit SOCIAL_SCALE,Exit KNOWLEDGE_SCALE,Exit APPROPRIATE_ACTION_SCALE,...,OC2 Data Check,OC3 - a,OC3 - b,OC3 - c,OC3 - d,OC3 - e,OC3 Data Check,Days btw Initial and Exit,Days btw I-IFSP to Exit ECO,Days btw I-IFSP to entry ECO
0,ET,500335.0,2021-04-23,5.0,3.0,4.0,2021-10-23,6.0,3.0,4.0,...,1.0,NaN,1.0,NaN,NaN,NaN,1.0,206.0,183.0,0.0
1,ET,479453.0,2020-03-23,7.0,7.0,7.0,2021-08-19,7.0,7.0,7.0,...,1.0,NaN,NaN,NaN,NaN,1.0,1.0,704.0,514.0,0.0
2,ET,510663.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,115.0,-44483.0,-44483.0
3,ET,452482.0,2019-01-31,2.0,3.0,3.0,2021-11-22,5.0,3.0,5.0,...,1.0,NaN,NaN,1.0,NaN,NaN,1.0,1053.0,1026.0,0.0
4,ET,506507.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,159.0,-44434.0,-44434.0

In [4]:
eco_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8636 entries, 0 to 8635
Data columns (total 60 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   DISTRICT                              8633 non-null   object
 1   CHILD_ID                              8632 non-null   float64
 2   ECO_Entry_DATE                        5721 non-null   datetime64[ns]
 3   Ent SOCIAL_SCALE                      5721 non-null   float64
 4   Ent KNOWLEDGE_SCALE                   5721 non-null   float64
 5   Ent APPROPRIATE_ACTION_SCALE          5721 non-null   float64
 6   ECO_Exit_DATE                         5721 non-null   datetime64[ns]
 7   Exit SOCIAL_SCALE                     5721 non-null   float64
 8   Exit KNOWLEDGE_SCALE                  5721 non-null   float64
 9   Exit APPROPRIATE_ACTION_SCALE         5721 non-null   float64
 10  ExitIS_SOCIAL_PROGRESS                5721 non-null   object
 11  ExitIS_KNOWLEDGE_PROGRESS             5721 non-null   object
 12  ExitIS_APPROPRIATE_ACTION_PROGRESS    5721 non-null   object
 13  Initial IFSP Date                     8632 non-null   datetime64[ns]
 14  Exit Reason                           8632 non-null   object
 15  Exit Date                             8632 non-null   datetime64[ns]
 16  <Lookup> Expected Rating              8632 non-null   object
 17  <Calc> Months in Program              8632 non-null   float64
 18  <Calc> Entrance Age (months)          8632 non-null   float64
 19  <Calc> Day count                      5721 non-null   float64
 20  <Calc> Month count                    5721 non-null   float64
 21  <Calc> Missing Entrance Date          2911 non-null   float64
 22  <Calc> Missing Exit Dates             2911 non-null   float64
 23  <Calc> Missing Both Ent & Exit Dates  2911 non-null   float64
 24  <Calc> Record Count                   8632 non-null   float64
 25  <Calc> Day count 182 days +           6806 non-null   float64
 26  <Calc> Exit Day cnt < 182 days        2501 non-null   float64
 27  OC1 Missing Exit Rating               2911 non-null   float64
 28  OC2 Missing Exit Rating               2911 non-null   float64
 29  OC3 Missing Exit Rating               2911 non-null   float64
 30  OC1 Not Expected                      481 non-null    float64
 31  OC2 Not Expected                      481 non-null    float64
 32  OC3 Not Expected                      481 non-null    float64
 33  <Calc> Day count less than 182        2501 non-null   float64
 34  OC1 Useable Data                      5595 non-null   float64
 35  OC2 Useable Data                      5595 non-null   float64
 36  OC3 Useable Data                      5595 non-null   float64
 37  Usable Data on at least one Outcome   5595 non-null   float64
 38  Usable Data on All 3 Outcomes         5595 non-null   float64
 39  OC1 - a                               20 non-null     float64
 40  OC1 - b                               1441 non-null   float64
 41  OC1 - c                               1414 non-null   float64
 42  OC1 - d                               1842 non-null   float64
 43  OC1 - e                               878 non-null    float64
 44  OC1 Data Check                        8632 non-null   float64
 45  OC2 - a                               29 non-null     float64
 46  OC2 - b                               2633 non-null   float64
 47  OC2 - c                               1016 non-null   float64
 48  OC2 - d                               1362 non-null   float64
 49  OC2 - e                               555 non-null    float64
 50  OC2 Data Check                        8632 non-null   float64
 51  OC3 - a                               14 non-null     float64
 52  OC3 - b                               1430 non-null   float64
 53  OC3 - c                               816 non-null    float64
 54  OC3 - d                               1760 non-null   float64
 55  OC3 - e                               1575 non-null   float64
 56  OC3 Data Check                        8632 non-null   float64
 57  Days btw Initial and Exit             8632 non-null   float64
 58  Days btw I-IFSP to Exit ECO           8632 non-null   float64
 59  Days btw I-IFSP to entry ECO          8632 non-null   float64
dtypes: datetime64[ns](4), float64(50), object(6)
memory usage: 4.0+ MB

In [14]:
new_eco_df = eco_df[['DISTRICT','CHILD_ID','<Calc> Months in Program','Ent SOCIAL_SCALE','Ent KNOWLEDGE_SCALE','Ent APPROPRIATE_ACTION_SCALE','Exit SOCIAL_SCALE','Exit KNOWLEDGE_SCALE','Exit APPROPRIATE_ACTION_SCALE']]

In [15]:
new_eco_df.columns = ['district', 'child_id', 'month_count', 'ent_social','ent_knowledge','ent_app_action','ext_social','exit_knowledge','exit_app_action']

In [16]:
new_eco_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8636 entries, 0 to 8635
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   district         8633 non-null   object
 1   child_id         8632 non-null   float64
 2   month_count      8632 non-null   float64
 3   ent_social       5721 non-null   float64
 4   ent_knowledge    5721 non-null   float64
 5   ent_app_action   5721 non-null   float64
 6   ext_social       5721 non-null   float64
 7   exit_knowledge   5721 non-null   float64
 8   exit_app_action  5721 non-null   float64
dtypes: float64(8), object(1)
memory usage: 607.3+ KB

so only keeping the selected columns from the ECO with Exis21-22

Now that I have the selected columns and and have them renamed to lower case. I am the outlier...so now I'm going to remove the nullls before repeating this same steps for Elig DF in regards to the coloumns and merging the two dataframes.

Before removing the nulls from new_eco_df - I need to see first how many nulls are currently present withing the dataframe, so I can know what I how many nulls are currently present before removing. Will help with the calculations first.